/***************** GENERAL *****************/
/*******************************************/
body
{
	background: rgb(243,243,243);
	font-family: "BNPP Sans Light", sans-serif;
	padding-top: 30px;
	padding-bottom: 30px;
}

h1, li
{
	font-family: "BNPP Sans", sans-serif;
}

p
{
	text-align: justify;
}


/***************** SEPARATOR *****************/
/*********************************************/
#separator
{
	margin: 50px 0 10px 0;
	height: 3px;
	background: rgb(0,167,109);
}

/***************** HEADER *****************/
/******************************************/
img[alt="logo-top"]
{
	width: 300px;
	text-align: left;
}

header h1
{
	font-size: 2.2em;
	text-align: center;
}

#logout
{
	text-align: right;
	line-height: 70px;
}

#logout a
{
	font-size: 1em;
	color: black;
}

header i
{
	color: rgb(0,167,109);
	margin-right: 4px;
}

/***************** NAVBAR *****************/
/******************************************/
.navbar-default
{
	background-color: rgb(0,167,109);
}

#navbar
{
	text-align: center;
	padding: 0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
	color: white;
	font-size: 1.25em;
	text-transform: uppercase;
}

li:hover,
.navbar-nav .active,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover
{
	color: white;
	background: rgb(150,202,79);
}

.navbar-default .navbar-toggle
{
	background-color: white;
}

.navbar-default .navbar-toggle:hover
{
	background: rgb(243,243,243);
}

/***************** MAIN *****************/
/****************************************/
#main h1
{
	font-size: 1.8em;
}

#main h2
{
	font-size: 1.3em;
	text-align: center;
}

#main img
{
	text-align: center;
}

#main h2 ~ img
{
	width: 250px;
}

/***************** FOOTER *****************/
/******************************************/
footer img
{
	margin: 10px 0px 0px 0px;
}