/***************** GENERAL *****************/
/*******************************************/
html
{
	min-width: 380px;
}

body
{
	background: rgb(243,243,243); /* Gris clair */
	font-family: "BNPP Sans Light", sans-serif;
	padding-top: 20px;
	padding-bottom: 30px;
}

/* Texte "bold" en h1 et nav */
 h1, nav li
{
	font-family: "BNPP Sans", sans-serif;
}

p
{
	text-align: justify;
}


/***************** SEPARATOR *****************/
/*********************************************/
#separator
{
	margin: 50px 0 10px 0;
	height: 3px;
	background: rgb(0,167,109); /* Vert foncé BNP */
}

/***************** HEADER *****************/
/******************************************/
img[alt="logo-top"]
{
	width: 300px;
	text-align: left;
}

header h1
{
	font-size: 2.2em;
	text-align: center;
}

#logout
{
	text-align: right;
	line-height: 70px;
}

#logout a
{
	font-size: 1em;
	color: black;
}

header i
{
	color: rgb(0,167,109);
	margin-right: 4px;
}

/***************** NAVBAR MD+LG *****************/
/************************************************/
#full-nav
{
	background-color: rgb(0,167,109);
}

#full-nav .navbar-nav > li > a,
#full-nav .navbar-nav > li > a:hover,
#full-nav .navbar-nav > li > a:focus
{
	padding: 15px 12px;
	color: white;
	font-size: 1.2em;
	text-transform: uppercase;
}

#full-nav .navbar-nav li:hover,
#full-nav .navbar-nav > li > a:hover,
#full-nav .navbar-nav li .active,
.nav > li > a:focus
{
	color: white;
	background: rgb(150,202,79); /* Vert pomme BNP */
}

#full-nav .dropdown:hover .dropdown-menu
{
	display: block; /* active le hover pour les sous-menus */
}

/***************** NAVBAR XS+SM *****************/
/************************************************/
#simple-nav
{
	height: 25px;
	margin-bottom: 20px;
}

#simple-nav .container
{
	text-align: center;
}

#simple-nav .container ul
{
	padding: 0;
}

#simple-nav ul li
{
	display: inline-block;
}

#simple-nav ul li a
{
	color: rgb(0,167,109);
	padding: 0px 12px;
	text-decoration: none;
}

#simple-nav ul li a:hover,
#simple-nav ul li a:focus,
#simple-nav li .active
{
	border-bottom: 2px solid rgb(0,167,109);
}

/***************** MAIN *****************/
/****************************************/
#main
{
	text-align: center;
}

#main h1
{
	font-size: 1.8em;
	display: inline-block;
}

#main h2
{
	font-size: 1.3em;
}

#main h3
{
	margin-top: 5px;
	font-size: 1em;
}

#main img
{
	text-align: center;
}

#main h2 ~ img
{
	width: 250px;
}

#main .row
{
	display: inline-block;
}

#main .fa-info-circle /* Hypothèses affichées en popover */
{
	color: rgb(0,167,109);
}

#main button[data-toggle="popover"] /* Bouton d'info popover */
{
	vertical-align: 10%;
	padding: 0 0 0 5px;
}

/* Tableaux détaillés */
#main table
{
	font-size: 0.82em;
	background-color: rgb(250,250,250);
	font-family: sans-serif;
}

#main table th, #main table td
{
	text-align: center;
	vertical-align: middle;
}

#main .table > thead > tr > th
{

	background-color: rgb(90,90,90);
	color: white;
}

#main .table > tbody > tr > td
{
	padding: 0px;
}

/* Gris 1 ligne sur 2 */
#main .table-striped>tbody>tr:nth-child(odd)>td, 
#main .table-striped>tbody>tr:nth-child(odd)>th
{
   background-color: rgb(230,230,230);
}

/* Orange en hover d'une ligne */
#main .table-hover tbody tr:hover td,
#main .table-hover tbody tr:hover th
{
  background-color: #f2963f; /*Orange*/
}

#main button[id="exporter"]
{
	font-size: 1em;
	padding: 2px;
	width: 180px;
}

#main div[id="bloc-transparent"]
{

	width: 100%;
	height: 500px;
	background: rgba(0,0,0,0.1);
}

#main div[id="bloc-transparent"] > span
{
	line-height: 500px;
	font-size: 3.5em;
	text-transform: uppercase;
}

/**************** CHARTS ****************/
/****************************************/
#main .charts
{
	margin-top: 20px;
	margin-bottom: 20px;
}

/********** FORMULAIRE CONNEXION **********/
/******************************************/
#main form
{
	width: 50%;
	margin: auto;
}

/***************** FOOTER *****************/
/******************************************/
footer img
{
	margin: 10px 0px 0px 0px;
}