/***************** GENERAL *****************/
/*******************************************/
html
{
	min-width: 380px;
}

body
{
	background: rgb(243,243,243); /* Gris clair */
	font-family: "BNPP Sans Light", sans-serif;
	padding-top: 30px;
	padding-bottom: 30px;
}

h1, nav li
{
	font-family: "BNPP Sans", sans-serif;
}

p
{
	text-align: justify;
}


/***************** SEPARATOR *****************/
/*********************************************/
#separator
{
	margin: 50px 0 10px 0;
	height: 3px;
	background: rgb(0,167,109); /* Vert foncé BNP */
}

/***************** HEADER *****************/
/******************************************/
img[alt="logo-top"]
{
	width: 300px;
	text-align: left;
}

header h1
{
	font-size: 2.2em;
	text-align: center;
}

#logout
{
	text-align: right;
	line-height: 70px;
}

#logout a
{
	font-size: 1em;
	color: black;
}

header i
{
	color: rgb(0,167,109);
	margin-right: 4px;
}

/***************** NAVBAR MD+LG *****************/
/************************************************/
#full-nav
{
	background-color: rgb(0,167,109);
}

#full-nav .navbar-nav > li > a,
#full-nav .navbar-nav > li > a:hover,
#full-nav .navbar-nav > li > a:focus
{
	color: white;
	font-size: 1.25em;
	text-transform: uppercase;
}

#full-nav .navbar-nav li:hover,
#full-nav .navbar-nav > li > a:hover,
#full-nav .navbar-nav li .active
{
	color: white;
	background: rgb(150,202,79); /* Vert pomme BNP */
}

#full-nav .dropdown:hover .dropdown-menu
{
	display: block; /* active le hover pour les sous-menus */
}

/***************** NAVBAR XS+SM *****************/
/************************************************/
#simple-nav
{
	height: 25px;
	margin-bottom: 10px;
}

#simple-nav .container
{
	text-align: center;
}

#simple-nav .container ul
{
	padding: 0;
}

#simple-nav ul li
{
	display: inline-block;
}

#simple-nav ul li a
{
	color: rgb(0,167,109);
	padding: 0px 15px;
	text-decoration: none;
}

#simple-nav ul li a:hover,
#simple-nav ul li a:focus,
#simple-nav li .active
{
	border-bottom: 2px solid rgb(0,167,109);
}

/***************** MAIN *****************/
/****************************************/
#main
{
	text-align: center;
}

#main h1
{
	font-size: 1.8em;
	text-align: left;
}

#main h2
{
	font-size: 1.3em;
	text-align: center;
}

#main img
{
	text-align: center;
}

#main h2 ~ img
{
	width: 250px;
}

#main .row
{
	display: inline-block;
}

/********** FORMULAIRE CONNEXION **********/
/******************************************/
form
{
	width: 50%;
	margin: auto;
}

form input
{
	display: block;
	padding: 5px 0px;
	margin: 5px 0px;
}

#connexion
{
	background-color: rgb(0,167,109);
	border-color: rgb(0,167,109);
}

#connexion:hover, #connexion:focus
{
	background-color: rgb(0,147,89);
	border-color: rgb(0,147,89);
}


/***************** FOOTER *****************/
/******************************************/
footer img
{
	margin: 10px 0px 0px 0px;
}